<%- include ('header.html') %>

<div class="outer">
    <header class="logo">
        <%- include ('icons/logo.html') %>
    </header>

    <div class="content">
        <p class="status"><span class="live-icon">●</span> Signal: <strong><% if (dht.temp == null || dht.hum == null) { %>NO SIGNAL<% } else { %>OK<% } %></strong></p>

        <section class="datetime">
            <p id="time"></p>
            <p id="date"></p>
        </section>

        <section class="location">
            <section class="data-label"><div class="icon"><%- include ('icons/location.html') %></div><div class="label">Location</div></section>
            <p class="data-value">Malmö, Sweden</p>
        </section>

        <section class="data">
            <section id="temperature">
                <section class="data-label"><div class="icon"><%- include ('icons/temperature.html') %></div><div class="label">Temperature</div></section>
                <p class="data-value"><% if (dht.temp != null) { %><%= dht.temp %><% } else { %>--<% } %>˚C</p>
            </section>

            <section id="humidity">
                <section class="data-label"><div class="icon"><%- include ('icons/humidity.html') %></div><div class="label">Humidity</div></section>
                <p class="data-value"><% if (dht.hum != null) { %><%= dht.hum %><% } else { %>--<% } %>%</p>
            </section>
        </section>
    </div>
</div>

<script>
    function updateClock() {
        var d = new Date(),
        hours = d.getHours().toString().length == 1 ? '0'+d.getHours() : d.getHours(),
        minutes = d.getMinutes().toString().length == 1 ? '0'+d.getMinutes() : d.getMinutes(),
        seconds = d.getSeconds().toString().length == 1 ? '0'+d.getSeconds() : d.getSeconds(),
        days = d.getDate();
        months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
        years =

        
        document.getElementById("time").innerHTML = hours + ':' + minutes + ":" + seconds;
        document.getElementById("date").innerHTML = d.getDate() + ' ' + months[d.getMonth()] + ' ' + d.getFullYear();
    };
    updateClock();
    window.setInterval(updateClock, 1000);
</script>

<%- include ('footer.html') %>