:root {
    --color-almostBlack: #160F0C;
    --color-stinkyMustard: #957400;
    --color-creamyKhaki: #BFB180;
    --color-burntSienna: #2E221C;
}

body {
    background-color: var(--color-almostBlack);
    font-family: 'Roboto Mono', monospace;
}

.outer {
    width: 25%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    background-color: var(--color-stinkyMustard);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: var(--color-burntSienna);
    color: var(--color-creamyKhaki);
    padding: 2vw;
}

.status {
    flex: 100%;
    margin: 0 0 20px;
}

.live-icon {
    color: var(--color-stinkyMustard);
}

strong {
    font-weight: 700;
}

.datetime {
    margin-bottom: 40px;
}

#time {
    font-size: 3em;
    font-weight: 700;
    margin: 0;
}

#date {
    font-size: 1.25em;
    margin: 0;
    color: var(--color-stinkyMustard);
}

.data {
    display: flex;
    flex-flow: row wrap;
}

#temperature,
#humidity {
    flex: 1 1 40%;
}

#temperature {
    margin-right: 5%;
}

.data-label {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.icon {
    flex: 1 1 auto;
    margin-right: 16px;
    position: relative;
    top: 2px;
    padding: 4px;
}

.label {
    font-size: 0.75em;
    flex: 3 1 auto;
    margin: 0;
    width: max-content;
}

.label {
    width: 100%;
    padding: 0.25vw 0.5vw;
    background-color: var(--color-stinkyMustard);
    color: var(--color-burntSienna);
    font-weight: 700;
}

.data-value {
    margin: 0;
    font-size: 2.5em;
}

.location {
    margin-bottom: 40px;
}

.location .data-value {
    font-size: 1.25em;
}

@media (max-width:1300px) {
    .outer {
        width: 35%;
    }

    .datetime {
        margin-bottom: 40px;
    }

    #time {
        font-size: 2.5em;
    }

    #temperature {
        margin-right: 5%;
    }

    .data-value {
        font-size: 2.5em;
    }

    .location {
        margin-bottom: 40px;
    }

    .location .data-value {
        font-size: 1.25em;
    }

}

@media (max-width:850px) {
    .outer {
        width: 45%;
    }

}

@media (max-width:630px) {
    .outer {
        width: 65%;
    }

    .datetime {
        margin-bottom: 20px;
    }

}

@media (max-width:600px) {
    .outer {
        width: 85%;
    }

    .content {
        background-color: var(--color-burntSienna);
        color: var(--color-creamyKhaki);
        padding: 8vw;
    }

    #datetime {
        margin-bottom: 20px;
    }

    .location {
        margin-bottom: 20px;
    }

    .data-value {
        margin: 0;
        font-size: 2em;
    }

    .location .data-value {
        font-size: 1em;
    }

}

@media (max-width:362px) {
    #temperature {
        margin: 0;
    }

}

@media (max-width:250px) {
    #time {
        font-size: 1.75em;
    }

    #date {
        font-size: 1em;
    }

}
