<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="84"
   height="23.999964"
   viewBox="0 0 22.224999 6.3499906"
   version="1.1"
   id="svg8"
   inkscape:version="0.92.3 (2405546, 2018-03-11)"
   sodipodi:docname="freyr-logo.svg">
  <defs
     id="defs2" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="5.5999999"
     inkscape:cx="17.335851"
     inkscape:cy="6.9017869"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="false"
     showborder="false"
     units="px"
     inkscape:snap-bbox="true"
     inkscape:bbox-paths="true"
     inkscape:bbox-nodes="true"
     inkscape:snap-bbox-edge-midpoints="true"
     inkscape:snap-bbox-midpoints="true"
     inkscape:object-paths="true"
     inkscape:snap-intersection-paths="true"
     inkscape:snap-smooth-nodes="true"
     inkscape:snap-midpoints="true"
     inkscape:window-width="1331"
     inkscape:window-height="713"
     inkscape:window-x="35"
     inkscape:window-y="27"
     inkscape:window-maximized="1" />
  <metadata
     id="metadata5">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(319.57915,-127.05956)">
    <g
       id="g1481"
       transform="matrix(1.499999,0,0,1.499999,159.78927,-66.704646)"
       style="stroke-width:0.6666671">
      <rect
         y="129.17622"
         x="-319.57916"
         height="4.2333298"
         width="14.816676"
         id="rect1405"
         style="opacity:1;fill:#ffffff;fill-opacity:0;stroke:none;stroke-width:0.17638899;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:fill markers stroke" />
      <path
         id="path1331-3"
         d="m -318.33478,129.7839 -0.37309,0.3731 0.52967,0.52917 0.37311,-0.37517 z m 1.47846,0 -0.87074,0.87075 v 2.22467 h 0.52916 v -0.68317 l 0.98031,-0.98081 -0.37311,-0.37518 -0.6072,0.60772 v -0.57412 l 0.71676,-0.71676 z m 2.46653,0.52865 v 1.96112 h 0.13591 0.38913 v -0.73019 h 0.50694 v -0.50229 h -0.50694 v -0.22583 h 1.01594 v -0.50281 z m 1.78437,0 v 1.96112 h 0.13386 0.38912 v -0.73019 h 0.16124 l 0.38137,0.73019 h 0.47283 V 131.991 l -0.26717,-0.51056 0.26717,-0.2558 v -0.59273 l -0.33332,-0.31936 z m 1.78181,0 v 1.96112 h 0.13592 1.40301 v -0.5023 h -1.01389 v -0.22789 h 0.50694 v -0.50229 h -0.50694 v -0.22583 h 1.01389 v -0.50281 z m 1.78232,0 v 0.28112 l 0.50903,0.97307 v 0.70693 h 0.13539 0.38705 v -0.70693 l 0.50901,-0.97307 v -0.28112 h -0.47284 l -0.29715,0.56792 -0.29766,-0.56792 z m 1.78387,0 v 1.96112 h 0.13592 0.38706 v -0.73019 h 0.1638 l 0.3788,0.73019 h 0.47334 V 131.991 l -0.26768,-0.51056 0.26768,-0.2558 v -0.59273 l -0.33329,-0.31936 z m -4.82502,0.50281 h 0.44492 l 0.046,0.0439 v 0.1359 l -0.046,0.046 h -0.44492 z m 5.348,0 h 0.44492 l 0.0481,0.0439 v 0.1359 l -0.0481,0.046 h -0.44492 z m -11.86389,0.0248 -0.37516,0.37517 0.79529,0.79324 0.37311,-0.37311 z"
         style="color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;vector-effect:none;fill:#2e221c;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.35277799;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:fill markers stroke;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"
         inkscape:connector-curvature="0" />
    </g>
  </g>
</svg>