<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="24"
   height="24.000038"
   viewBox="0 0 6.3499999 6.3500103"
   version="1.1"
   id="svg8"
   inkscape:version="0.92.3 (2405546, 2018-03-11)"
   sodipodi:docname="temperature.svg">
  <defs
     id="defs2" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="11.2"
     inkscape:cx="-11.834527"
     inkscape:cy="4.8841432"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="true"
     showborder="false"
     units="px"
     inkscape:snap-bbox="true"
     inkscape:bbox-paths="true"
     inkscape:bbox-nodes="true"
     inkscape:snap-bbox-edge-midpoints="true"
     inkscape:snap-bbox-midpoints="true"
     inkscape:object-paths="true"
     inkscape:snap-intersection-paths="true"
     inkscape:snap-smooth-nodes="true"
     inkscape:snap-midpoints="true"
     inkscape:window-width="1331"
     inkscape:window-height="713"
     inkscape:window-x="35"
     inkscape:window-y="27"
     inkscape:window-maximized="1"
     inkscape:pagecheckerboard="true">
    <inkscape:grid
       type="xygrid"
       id="grid1447"
       originx="345.28123"
       originy="-96.837537" />
  </sodipodi:namedview>
  <metadata
     id="metadata5">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(345.28125,-193.81245)">
    <path
       inkscape:connector-curvature="0"
       style="opacity:1;fill:#957400;fill-opacity:1;stroke:none;stroke-width:0.26458332;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:fill markers stroke"
       d="m -344.88438,193.81245 v 2.38125 h -0.39687 v 3.96876 h 4.7625 v -3.96876 h -0.39687 v -2.38125 z m 4.36563,0 v 0.79375 h 1.5875 v -0.79375 z m -3.57187,0.79375 h 2.38125 v 2.38125 h 0.39687 v 2.38125 h -3.17499 v -2.38125 h 0.39687 z m 3.57187,0.39687 v 0.79376 h 1.5875 v -0.79376 z m -2.77812,0.79376 v 1.98438 h -0.39688 v 0.79374 h 1.58751 v -0.79374 h -0.39689 v -1.98438 z"
       id="path1479" />
  </g>
</svg>